page-tutor {


    .picture-holder{
        text-align: center;
    }
    .circle-img{
        size: 0px;
        border-radius: 50%;
    }
    p{
        text-align: center;
        font-weight: bold;
        font-size:17px;
    }
    ion-card-header{
        background-color: tomato;
    }
    h2{
        color: white;
    }

}
